*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.cartelera{
    width: 90%;
    max-width: 1400px;
    margin: auto;
}
.cartelera h1{
    text-align: left;
    font-size: 30px;
    margin: 120px 0px 25px;
}
.cartelera-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.cartelera-item{
    width: 155px;
    height: 242px;
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
.cartelera-text{
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(0,0,0,0.7);
    color: #fff;

    transform: translateY(100%)
}
.cartelera-text p{
    text-align: justify;
}
.cartelera-item:hover .cartelera-text{
    transform: translateY(0%);
    transition: all 0.5s ease-out;
}