/* Estilos para la Página de Login, Interfaz de Acceso IU02*/
.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
  }

.login {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.login input {
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

.login .login__submit {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

.login .login__submit:hover,.login .login__submit:active,.login .login__submit:focus {
    background: #321c91;
  }
  
.login a {
    color: #40279b;
    text-decoration: none;
  }

.login__remember{
    width: 80%;
  }


 /* Estilos para la Página de Cartelera, Interfaz de Gestion de Peliculas IU03 */

.movies {
  width: auto;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  align-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movies-link {
  display: inline-block;
  color: #070707;
  width: 20%;
  /*padding: 0 .5rem 1rem;*/
  font-size: 13px;
}


.movies img{
      width: 90%;
      height: 90%;
      padding: 1px;
      align-items: center;
  }

.name-movie__title {
  width: 70%;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.name-movie {
  display:flex;
}

.name-movie__buttons {
  padding: 10px;
  display: grid;
  align-content: space-evenly;
}

/*Estilos del modal addmovie*/

.modal-addmovie{
  display:none;
}

.modal-addmovie:target {
  display: inline-block;
  text-align: center;
  position: fixed;
  background: rgba(2, 5, 10, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 8% 0 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.modal-addmovie__title{
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
  display: inline-flex;
  text-align: center;
}

.modal-addmovie__data{
  color: #fff;
  font-size: 15px;
  margin: 15px 0;
  display: flex;
  text-align: justify;
}

.image {
  width: 100%;
  height: 50%;

  display:flex;
  justify-content: center;
  align-items: center;
}

.image a{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.image a:nth-child(2){
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.image img{
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
}

.close {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}

.dropdown-menu__content{
  display: none;
}

.dropdown-menu__content a{
  display: block;
}

.dropdown-menu__content a:hover {
  background-color: #6e6e6c
}

.dropdown-menu__content a {
  color: #FFFFFF;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #050505
}


.dropdown-menu:hover .dropdown-menu__content {
  display: block;
  position:fixed;
}

/*Estilos de POágina de Inicio*/
.modal-view-movie{
  display:none;
}

.modal-view-movie:target {
  display: inline-block;
  text-align: center;
  position: fixed;
  background: rgba(2, 5, 10, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 8% 0 0;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.galery-movies{
  display: inline-block;
}

.galery-movies__center img{
  width: 15%;
  height: 50%;
  padding: 1px;
  display: inline-flex;
  position: relative;
  align-items: center;
}

.galery-movies__sides img{
  width: 25%;
  height: 50%;
  padding: 1px;
  display: inline-flex;
  position: fixed;
  margin: auto;
  align-items: center;
}

.title h2{
  padding: 0%;
  margin: 0%;
  text-align: center;
}

.nav-link {
  display: inline-block;
  padding: 10px 30px;
  color: rgb(12, 12, 12);
  /*background: #4CAF50;*/
  text-decoration: none;
}
.nav-link:hover {
  background: #321c91;
  color: #fff;
}

nav {
  text-align: end;
}
