/* Estilos para la Página de Login, Interfaz de Acceso IU02*/
.login-page {
    width: 400px;
    padding: 8% 0 0;
    margin: auto;
  }

.login {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.login input {
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

.login .login__submit {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

.login .login__submit:hover,.login .login__submit:active,.login .login__submit:focus {
    background: #321c91;
  }
  
.login a {
    color: #40279b;
    text-decoration: none;
  }

.login__remember{
    width: 80%;
  }


 /* Estilos para la Página de Cartelera, Interfaz de Gestion de Peliculas IU03 */

.movies{
  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;
  align-content: space-around;
  display: inline;
  flex-wrap: wrap;
  justify-content: space-around;
}

.galeria li{
  margin: 5px;
}

.galeria img{
  width: 150px;
  height: 100px;

}
  

.movies img{
      width: 30%;
      height: auto;
      padding: 45px;
  }

.name-movie__title {
  font-size: 30px;
  /*display: inline-flex;*/
  text-align: center;
}

.name-movie {
  display:flex;
}

.name-movie__buttons {
  padding: 10px;
  display: grid;
  align-content: space-evenly;
}

/*Estilos del modal*/

.modal{
  display:none;

}

.modal:target {
  display:block;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal h3{
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 15px 0;
}

.image {
  width: 100%;
  height: 50%;

  display:flex;
  justify-content: center;
  align-items: center;
}

.image a{
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.image a:nth-child(2){
  margin: 0;
  height: 100%;
  flex-shrink: 2;
}

.image img{
  width: 500px;
  height: 100%;
  max-width: 100%;
  border: 7px solid #fff;
  box-sizing: border-box;
}

.close {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}